@import 'colors.scss';

.v-btn--basic {
  border-radius: 4px;

  &:not(:disabled):not(.v-btn--disabled):hover {
    opacity: 0.8;
  }

  &.v-btn--color {
    &-blue {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $blue700;
        opacity: 1;
      }
    }
    &-green {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $green700;
        opacity: 1;
      }
    }
    &-orange {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $orange600;
        opacity: 1;
      }
    }
    &-yellow {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $yellow600;
        opacity: 1;
      }
    }
    &-red {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $red700;
        opacity: 1;
      }
    }
    &-white {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $gray100;
        opacity: 1;
      }
    }
    &-black {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $gray700;
        color: $white;
        opacity: 1;
      }
    }
    &-white-blue {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $gray100;
        opacity: 1;
      }
    }
    &-file {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: linear-gradient(to bottom, $gray100 1%, $gray200);
        opacity: 1;
      }
    }
    &-cyan {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $cyan600;
        opacity: 1;
      }
    }
    &-navy {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $blue800;
        opacity: 1;
      }
    }
    &-lightblue {
      &:not(:disabled):not(.v-btn--disabled):hover {
        background: $lightblue700;
        opacity: 1;
      }
    }
    &-white-border {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: hsla(0,0%,100%,.5);
            opacity: 1;
          }
        }
      }
    }
    &-white-border-blue {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: $white;
            color: $blue500;
            opacity: 1;
          }
        }
      }
    }
    &-gray-border {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: $gray100;
            opacity: 1;
          }
        }
      }
    }
    &-blue-border {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: $blue500;
            color: $white;
            box-shadow: 0 0 0 3px $blue500 inset;
            opacity: 1;
          }
        }
      }
    }
    &-green-border {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: $green700;
            color: $white;
            box-shadow: 0 0 0 3px $green700 inset;
            opacity: 1;
          }
        }
      }
    }
    &-orange-border {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: $orange600;
            color: $white;
            box-shadow: 0 0 0 3px $orange600 inset;
            opacity: 1;
          }
        }
      }
    }
    &-yellow-border {
      @for $i from 1 to 6 {
        &-#{$i} {
          &:not(:disabled):not(.v-btn--disabled):hover {
            background: $yellow600;
            color: $white;
            box-shadow: 0 0 0 3px $yellow600 inset;
            opacity: 1;
          }
        }
      }
    }
  }
}
