.v-btn {
    border: none;
    vertical-align: middle;
    cursor: pointer;
    font-family: sans-serif;
    padding: 0.5em 1em 0.51em;
    display: inline-block;
    text-decoration: none;

    &:disabled,
    &.v-btn--disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
    }

    &:focus {
        outline: none;
    }
}
