@import 'colors.scss';

.v-radio {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.4em;

  &.basic {
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    > label {
      display: flex;
      justify-content: center;
      cursor: pointer;

      > input[type="radio"] {
        position: absolute;
        display: flex;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;

        &:checked + .radio-btn {
          &:before {
            box-shadow: inset 0 0 0 0.2em #ffffff;
          }
        }
      }

      .radio-btn {
        display: flex;
        align-items: center;
        transition: 0.25s;

        &:before {
          display: flex;
          content: "";
          background-color: #ffffff;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          transition: 0.25s;
          box-shadow: inset 0 0 0 0.8em #ffffff;
          border: 0.15em solid $gray200;
        }
      }

      .slot-wrapper {
        display: flex;
        align-items: center;
        padding-left: 0.4em;
      }
    }

    &.color {
      @each $color in $simpleColors {
        $key: nth($color, 1);
        $value: nth($color, 2);

        &-#{$key} input[type="radio"]:checked + .radio-btn:before {
          background-color: #{$value};
          border: 0.15em solid #{$value};
        }
      }
    }
  }
}