/* Sizes */
.v-btn--size-ss {
    font-size: 12px;
    padding: 10px 20px;
}
.v-btn--size-s {
    font-size: 14px;
    padding: 10px 20px;
}
.v-btn--size-m {
    font-size: 16px;
    padding: 10px 20px;
}
.v-btn--size-l {
    font-size: 18px;
    padding: 10px 20px;
}

