.primary {
	background: #0069d9;
	color: #ffffff;
}
.secondary {
	background: #6c757d;
	color: #ffffff;
}
.success {
	background: #28a745;
	color: #ffffff;
}
.danger {
	background: #c82333;
	color: #ffffff;
}
.warning {
	background: #ffc107;
	color: #ffffff;
}
.info {
	background: #17a2b8;
	color: #ffffff;
}
.light {
	background: #f8f9fa;
	color: #ffffff;
}
.dark {
	background: #343a40;
	color: #ffffff;
}
.link {
	color: #007bff;
	background-color: transparent;
}

.btn {
	display: block;
	padding: 0;
	border: none;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
.btn:focus {
	outline: none;
}
.btn > span {
	vertical-align: middle;
}

/* Sizes */
.ss {
	font-size: 12px;
	padding: 10px 20px;
}
.s {
	font-size: 14px;
	padding: 10px 20px;
}
.m {
	font-size: 16px;
	padding: 10px 20px;
}
.l {
	font-size: 18px;
	padding: 10px 20px;
}

